/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --ms-primary-color: lightgrey;
    --ms-secondary-color: lightslategray;
    --ms-text-white: #fff;
    --ms-text-black: #000;
}

/* Regole di DEBUG */

/* Regole CSS generali */
html{
    font-family: sans-serif;
    min-width: 405px;
}

.logo {
    height: 70px;
}

.new-task input {
    padding: 10px;
    margin-right: 20px;
    min-width: 300px;
    border-radius: 15px;
    border: 1px solid lightgrey;
}
.new-task button {
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.task-list {
    background-color: var(--ms-primary-color);
    border-radius: 5px;
    padding: 20px;
}
.task-list ul {
    list-style: none;
}
.task-list li {
    padding: 10px 0;
    border-bottom: solid 1px var(--ms-secondary-color);
    display: flex;
}
.span-text {
    flex-grow: 1;
}


/* MEDIA QUERY */
/* Breakpoint sm */
@media screen and (min-width: 576px) {
    
}

/* Breakpoint md */
@media screen and (min-width: 768px) {
    
}

/* Breakpoint lg */
@media screen and (min-width: 992px) {
    
}

/* Breakpoint xl */
@media screen and (min-width: 1200px) {
    
}

/* Breakpoint xxl */
@media screen and (min-width: 1400px) {
    
}
